.validField {
    -fx-control-inner-background: greenyellow;
}

.invalidField {
    -fx-control-inner-background: lightpink;
}

.blankField {
    -fx-control-inner-background: white;
}

.groupBoxStyle {
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}

.greenText {
    -fx-text-fill: #0a8007;
}

.redText {
    -fx-text-fill: #ff3f38;
}

.blueText {
    -fx-text-fill: #2828ff;
}